<template name="menu">
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- search form -->
      <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search...">
          <span class="input-group-btn">
            <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
            </button>
          </span>
        </div>
      </form>

      <ul class="sidebar-menu">
        <li class="header">MAIN NAVIGATION</li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-cogs"></i> <span>Administration</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            {{#if userCan 'userView'}}
            <li>
              <a href="/user/list"><i class="fa fa-users"></i>{{#with userName}} {{user}} {{/with}}</a>
            </li>
            {{/if}}

            {{#if userCan 'roleView'}}
            <li>
              <a href="/role/list"><i class="fa fa-check-square-o"></i> {{#with roleName}} {{role}} {{/with}}</a>
            </li>
            {{/if}}

            {{#if userCan 'zoneView'}}
            <li>
              <a href="/zone/list"><i class="fa fa-location-arrow"></i> Zone</a>
            </li>
            {{/if}}

            {{#if userCan 'itemCategoryView'}}
            <li><a href="/itemCategory/list"><i class="fa fa-tag"></i>
                {{#with categoryName}} {{category}} {{/with}}</a>
            </li>
            {{/if}}
            {{#if userCan 'zoneView'}}
            <li>
              <a href="/myList"><i class="fa fa-location-arrow"></i> Jishnu</a>
            </li>
            {{/if}}
          </ul>
        </li>


        <li><a href="/item/list"><i class="fa fa-leaf"></i> <span>{{#with itemName}} {{item}} {{/with}}</span></a></li>

        {{#if userCan 'attendanceView'}}
        <li>
          <a href="/attendance/list"><i class="fa fa-graduation-cap"></i><span>
              {{#with attendanceName}} {{attendance}} {{/with}}</span> </a>
        </li>
        {{/if}}

      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>
</template>